@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
	box-sizing: border-box;
}

html {
	width: 100vw;
	overflow-x: hidden;
}

@layer base {
	html {
		@apply bg-main-background-color;
		@apply font-serif;
	}
}

@layer utilities {
	.text-white {
		@apply text-opacity-emphasis-high;
	}
}

$drawer-open-transition: 0.35s ease-in-out;
$drawer-close-transition: 0.35s ease-in-out;

@layer components {
	.drawer-floating-option {
		transform: translateX(-150%);
		transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out;
	}
	// .drawer-floating-option:hover svg {
	// 	@apply fill-brand-dark;
	// }
}

// @layer components {
// 	.drawer-floating-option-otherHovered {
// 		@apply bg-brand-mid #{!important};
// 	}
// }

#main-toast-container {
	grid-template-columns: 1fr 30px;
	width: fit-content;
	min-width: 300px;
	max-width: 90vw;
	margin-left: 50%;
	// transform: translateX(-50%);
}
.toastIcon {
	top: 10px;
}

.toastShow {
	transform: translate(-50%, 0);
	// box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
	// 	rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	transition: transform 0.3s ease-in-out;
}
.toastHide {
	transform: translate(-50%, -100%);
	transition: transform 0.3s ease-in-out;
}

.responsiveCenteredDrawerContainer {
	transition: all $drawer-open-transition;
}

.toast-container-warning {
	div,
	svg {
		color: #000;
		fill: #000;
	}
}

.toast-container-success {
	div {
		color: #fff;
	}
}

.drawerTranslateXLeft {
	transform: translateX(-150%);
	transition: transform 0s ease-in 0.5s;
}
.drawerTranslateX0 {
	transform: translateX(0);
}

// .inner-hero-container {
// 	transform: translateY(0);
// }

// @media screen and (min-width: 768px) {
// 	.inner-hero-container {
// 		transform: translateY(-20vh);
// 	}
// }
